/* © Victor Loots, 2022
/*

  /* Variabelen */
:root {
  --font_titel: "domineregular", Georgia, serif;
  --font_subtitel: "montserratregular", Verdana, sans-serif;
  --font-brood: "open_sansregular", Verdana, sans-serif;
  --kleur_wit: #f8f7f3;
  --kleur_zwart: #303030;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

img {
  display: block;
}


/*
  /* Standards */
html {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);
  font-family: var(--font-brood);
  font-size: 2rem;
  line-height: 1.5;
}
.verborgen{
  display: none;
}

#container {
  position: relative;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  background-color: antiquewhite;
}

#inventaris_container {
  position: absolute;
  top: 50px;
  right: 25px;
  width: 100px;
  height: 400px;
  border: black 2px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  place-items: center;
}

#speelveld_container {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 1000px;
  height: 550px;
  background-color: lightgreen;
}

#tekst_container {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 1150px;
  height: 200px;
  border: black 2px solid;
}

#dialoog {
  position: absolute;
  top: 25px;
  left: 200px;
  width: 750px;
  height: 150px;
  border: black 1px solid;
  overflow: auto;
  white-space: pre-wrap;
}

#menu {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-wrap: wrap;
  place-items: middle;
  justify-content: space-evenly;
  width: 50px;
  height: 150px;
  border: black 1px solid;
}

.icon {
  width: 40px;
  height: 40px;
  border: 1px black solid;
}

a{
  text-decoration: none;
}

#dialoog_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;

}

#dialoog_top {
  width: 100%;
  min-height: 100px;
  padding-top: 50px;
  background-color: crimson;
}

#dialoog_bottom {
  width: 100%;
  padding: 50px 10px 0 0;
  background-color: darkblue;
}

.inventaris_plaats {
  width: 50px;
  height: 50px;
  border: black 1px solid;
}




#bos_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/forest_background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.ingredient {
  position: absolute;
  width: 25px;
  height: 25px;
}

.ingredient:hover {
  cursor: pointer;
  ;
}

#ingredient_1 {
  top: 269px;
  left: 170px;
}

#ingredient_2 {
  top: 279px;
  right: 154px;
}

#ingredient_3 {
  top: 258px;
  left: 667px;
}

#ingredient_4 {
  top: 313px;
  left: 436px;
}

#ingredient_5 {
  bottom: 34px;
  left: 424px;
}


.witte_paddestoel {
  background-color: purple;
}

.varen {
  background-color: green;
}

.oranje_bekerplant {
  background-color: orange;
}

.anemoon_plant {
  background-color: pink;
}

.grijze_bekerplant {
  background-color: grey;
}

#alchemy_container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/alchemy_lab.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#potion{
  position: absolute;
  top: 315px;
  left: 316px;
  width: 50px;
  height: 50px;
  background-image: url(../img/alchemy_potion.png);
  background-repeat: no-repeat;
  background-size: contain;

}
#potion:hover, .inventaris_plaats, .icon{
  cursor: pointer;
}