/* © Victor Loots, 2022
/*
/*Fonts */
@font-face {
  font-family: "kingthings_exeterregular";
  src: url("../fonts/kingthings_exeter-webfont.eot");
  src: url("../fonts/kingthings_exeter-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/kingthings_exeter-webfont.woff2") format("woff2"),
    url("../fonts/kingthings_exeter-webfont.woff") format("woff"),
    url("../fonts/kingthings_exeter-webfont.ttf") format("truetype"),
    url("../fonts/kingthings_exeter-webfont.svg#kingthings_exeterregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aetheriusregular';
  src: url('../fonts/aetherius-webfont.eot');
  src: url('../fonts/aetherius-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aetherius-webfont.woff2') format('woff2'),
    url('../fonts/aetherius-webfont.woff') format('woff'),
    url('../fonts/aetherius-webfont.ttf') format('truetype'),
    url('../fonts/aetherius-webfont.svg#aetheriusregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Variabelen */
:root {
  --font_titel: 'aetheriusregular', garamond, serif;
  --font-brood: "kingthings_exeterregular", Verdana, sans-serif;
  --kleur_wit: #dcc4a9;
  --kleur_zwart: rgb(6, 8, 15);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

/* Standards */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);
  font-family: var(--font-brood);
  font-size: 2rem;
  line-height: 1.5;
  background-image: url(../img/background_tile.png);
}

h1 {
  font-family: var(--font_titel);
  font-size: 10rem;
}

.verborgen {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.center_margin {
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.border {
  border: var(--kleur_wit) 2px inset;
  outline: var(--kleur_zwart) 2px outset;
}

.background_black {
  background-color: rgba(6, 8, 15, 0.7);
}

.background_contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Interface */
#potion:hover,
.inventaris_plaats:hover,
.icon:hover,
.ingredient:hover,
.object:hover,
.spell_effect:hover,
#geheime_level_deur:hover {
  cursor: pointer;
}

#container {
  width: 1200px;
  height: 800px;
}

#inventaris_container {
  top: 50px;
  right: 25px;
  width: 100px;
  height: 400px;
  justify-content: space-around;
  place-items: center;
}

#speelveld_container {
  top: 25px;
  left: 25px;
  width: 1000px;
  height: 550px;
  box-sizing: content-box;
  overflow: hidden;
}

#tekst_container {
  bottom: 14px;
  left: 25px;
  width: 1150px;
  height: 200px;
}

#gezicht_container {
  top: calc(50% - 50px);
  left: 25px;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.gezicht_uil {
  background-image: url(../img/gezicht_uil.png);
}

.gezicht_nagl {
  background-image: url(../img/gezicht_nagl.png);
}

.gezicht_deur {
  background-image: url(../img/gezicht_deur.png);
}

#intro_container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/thuis.jpg);
}

#dialoog {
  position: absolute;
  top: calc(50% - 92.5px);
  left: 200px;
  width: 750px;
  height: 185px;
  background-color: var(--kleur_wit);
  overflow: auto;
  padding: 2rem;
}

#menu {
  top: calc(50% - 80px);
  right: 25px;
  justify-content: center;
  width: 70px;
  height: 160px;
  padding: 0.5rem;
}

.icon {
  width: 40px;
  height: 35px;
  background-color: var(--kleur_wit);
  text-align: center;
  padding: 0.25rem;
}

svg {
  font-size: 3rem;
  transform: scale(0.9);
}

svg:hover {
  transform: scale(1);
}

/* Level 1*/

.inventaris_plaats {
  width: 50px;
  height: 50px;
}

#bos_container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/forest_background.jpg);
}

#ingredient_1 {
  top: 289px;
  left: 61px;
  width: 100px;
  height: 122px;
}

#ingredient_2 {
  top: 271px;
  right: 43px;
  width: 100px;
  height: 100px;
}

#ingredient_3 {
  top: 273px;
  left: 665px;
  width: 73px;
  height: 86px;
}

#ingredient_4 {
  top: 330px;
  left: 419px;
  width: 90px;
  height: 100px;
}

#ingredient_5 {
  bottom: 14px;
  left: 419px;
  width: 100px;
  height: 100px;
}

.witte_paddestoel {
  background-image: url(../img/witte_paddestoel.png);
}

.witte_paddestoel {
  background-image: url(../img/witte_paddestoel.png);
}

.varen {
  background-image: url(../img/varen.png);
}

.oranje_bekerplant {
  background-image: url(../img/oranje_bekerplant.png);
}

.anemoon_plant {
  background-image: url(../img/anemoon.png);
}

.grijze_bekerplant {
  background-image: url(../img/grijze_bekerplant.png);
}

.ingredient_animated_to_inventory {
  animation: toInventory 0.5s linear forwards;
}

@keyframes toInventory {
  0% {
    display: block;
    transform: translateX(0%)scale(1);
  }

  99% {
    display: block;
    transform: translateX(50%) scale(0.2);
  }

  100% {
    display: none;
    transform: translateX(50%) scale(0);
  }
}

/* Level 2 */

#alchemy_container {
  width: 100%;
  height: 100%;
  background-image: url(../img/alchemy_lab.jpg);
}

.ingredient_animated_to_potion {
  animation: toPotion 0.5s linear forwards;
}

@keyframes toPotion {
  0% {
    display: block;
    transform: translateY(0%)scale(1);
  }

  99% {
    display: block;
    transform: translateY(-50%) scale(1.5);
  }

  100% {
    display: none;
    transform: translateY(-50%) scale(0);
  }
}

#potion {
  top: 281px;
  left: 258px;
  width: 50px;
  height: 50px;
}

.potion_image {
  background-image: url(../img/alchemy_potion.png);
}

/* Level 3*/

#magische_staf,
#toverboek {
  margin: 3px;
  display: block;
  width: 100%;
  height: auto;
}

#magische_staf {
  height: 50%;
  background-image: url(../img/magische_staf.png);
}

#toverboek {
  height: 25%;
  background-image: url(../img/toverboek.png);
}

#overval_container {
  width: 100%;
  height: 100%;
  background-image: url(../img/overval_plek.jpg);
  overflow: hidden;

}

#nacht_container {
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
}

@keyframes nachtValt {
  0% {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
  }

  1% {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
  }

  25% {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }

  75% {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }

  99% {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
  }
}

#steen_links {
  width: 225px;
  height: 375px;
  background-image: url(../img/overval_steen_links.png);
  top: 175px;
  left: 1px;
}

#steen_rechts {
  width: 173px;
  height: 352px;
  background-image: url(../img/overval_steen_rechts.png);
  top: 121px;
  right: -2px;
}

#ruine_links {
  width: 198px;
  height: 116px;
  background-image: url(../img/overval_ruine_links.png);
  top: 242px;
  left: 212px;
}

#ruine_midden {
  width: 106px;
  height: 164px;
  background-image: url(../img/overval_ruine_midden.png);
  top: 212px;
  left: 429px;
}

#ruine_rechts {
  width: 110px;
  height: 94px;
  background-image: url(../img/overval_ruine_rechts.png);
  top: 256px;
  right: 265px;
}

.vijand {
  display: block;
  width: 100%;
  height: 100%;
}

.vijand:hover {
  cursor: url(../img/magische_staf_cursor.png), auto;
}

#falmer {
  display: block;
  width: 57px;
  height: 71px;
  top: 261px;
  left: 278px;
  animation: falmer_beweging 10s linear infinite;
  background-image: url(../img/falmer.png);
}

@keyframes falmer_beweging {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(390px);
  }

  75% {
    transform: translateX(390px);
  }


  100% {
    transform: translateX(0px);
  }
}

#goblin {
  display: block;
  width: 52px;
  height: 71px;
  top: 261px;
  left: 667px;
  animation: goblin_beweging 10s linear infinite;
  background-image: url(../img/goblin.png);
}

@keyframes goblin_beweging {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-410px);
  }

  75% {
    transform: translateX(-410px);
  }

  100% {
    transform: translateX(0px);
  }
}

#skelet {
  display: block;
  width: 111px;
  height: 250px;
  top: 218px;
  left: 70px;
  animation: skelet_beweging 10s linear infinite;
  background-image: url(../img/skelet.png);
}

@keyframes skelet_beweging {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(800px);
  }

  75% {
    transform: translateX(800px);
  }

  100% {
    transform: translateX(0px);
  }
}

#hagraven {
  display: block;
  width: 111px;
  height: 250px;
  top: 214px;
  left: 870px;
  animation: hagraven_beweging 10s linear infinite;
  background-image: url(../img/hagraven.png);
}

@keyframes hagraven_beweging {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-800px);
  }

  75% {
    transform: translateX(-800px);
  }

  100% {
    transform: translateX(0px);
  }
}

#zwijn {
  display: block;
  width: 111px;
  height: 250px;
  top: 384px;
  right: -115px;
  animation: zwijn_beweging 10s linear infinite;
  background-image: url(../img/zwijn.png);
}

@keyframes zwijn_beweging {
  0% {
    right: -115px;
  }

  25% {
    right: -115px;
  }

  75% {
    right: 100%;
  }

  100% {
    right: 100%;
  }
}

/* Level 4 */

#pratende_deur_container {
  width: 100%;
  height: 100%;
  background-image: url(../img/pratende_deur.jpg);
}

.oog {
  width: 20px;
  height: 20px;
  background-image: url(../img/garnet.png);
}

.linker_oog {
  top: 454px;
  left: 103px;
  transform: rotate(-10deg);
}

.linker_oog_deur {
  top: 204px;
  left: 447px;
  transform: rotate(50deg);
}

.rechter_oog {
  top: 259px;
  left: 802px;
  transform: rotate(62deg);
}

.rechter_oog_deur {
  top: 205px;
  left: 487px;
  transform: rotate(-140deg);
}

.haar {
  width: 71px;
  height: 56px;
  background-image: url(../img/haar.png);
  top: 483px;
  left: 625px;
}

.haar_deur {
  top: 129px;
  left: 443px;
}

.vriendje {
  width: 70px;
  height: 70px;
  background-image: url(../img/vriendje.png);
  top: 53px;
  left: 209px;
  transform: scaleX(-1);
}

.vriendje_deur {
  top: 225px;
  left: 509px;
  transform: scaleX(1);
}

/* Level 5 */

#magnus_container {
  width: 100%;
  height: 100%;
  background-image: url(../img/eye_of_magnus.jpg);
}

.magische_cirkel {
  background-color: var(--kleur_wit);
}

#blue_circle,
#control_spell {
  background-image: url(../img/arcane_circle2.png);
}

#green_circle {
  background-image: url(../img/arcane_circle4.png);
}

#black_circle {
  background-image: url(../img/arcane_circle3.png);
}

#control_spell {
  top: 85px;
  left: 317px;
  display: block;
  width: 360px;
  height: 340px;
  background-image: url(../img/arcane_circle2.png);
  filter: saturate(500%);
  opacity: 0;
}

.spell_effect {
  display: block;
  width: 75px;
  height: 75px;
  background-image: url(../img/arcane_effect2.png);
  opacity: 0;
  transition: transform 0.3s linear;
}

#control_spell div:nth-of-type(1) {
  top: 136px;
  left: 24px;
}

#control_spell div:nth-of-type(2) {
  top: 23px;
  left: 140px;
}

#control_spell div:nth-of-type(3) {
  top: 136px;
  left: 254px;
}

#control_spell div:nth-of-type(4) {
  top: 247px;
  left: 140px;
}

#control_spell div:nth-of-type(5) {
  top: 136px;
  left: 136px;
}

#geheime_level_deur {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(../img/arcane_effect.png);
  top: 193px;
  right: 556px;
  transform: scale(0) rotate(0deg);
  transition: transform 0.2s linear;
}


@keyframes blink {
  0% {
    transform: scale(0) rotate(0deg);
  }

  25% {
    transform: scale(0) rotate(0deg);
  }

  30% {
    transform: scale(1) rotate(360deg);
  }

  35% {
    transform: scale(0) rotate(720deg);
  }

  65% {
    transform: scale(0) rotate(720deg);
  }

  70% {
    transform: scale(1) rotate(360deg);
  }

  75% {
    transform: scale(0) rotate(0deg);
  }


  100% {
    transform: scale(0) rotate(0deg);
  }
}

/* Bonus Level */

.book {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(../img/book_cover.png);
}

#bonus_container {
  width: 100%;
  height: 100%;
  background-image: url(../img/bonus_level.jpg);
}

#book_1_open,
#book_2_open,
#book_3_open {
  top: calc(50% - 250px);
  width: 100%;
  height: 500px;
  transform: translateX(1100px);
  transition: transform 0.3s linear;
}

#book_1_open {
  background-image: url(../img/lusty_argonian_maid_open.jpg);
}

#book_2_open {
  background-image: url(../img/lusty_argonian_maid_2_open.jpg);
}

#book_3_open {
  background-image: url(../img/lusty_argonian_pikeman_open.png);
}

/* Header & Footer */

header {
  text-align: center;
  color: var(--kleur_wit);
  letter-spacing: 0.3rem;
}

header h1,
header h2 {
  padding: 0.5rem 0;
}

footer {
  display: flex;
  justify-content: space-around;
  color: var(--kleur_wit);
  letter-spacing: 0.3rem;
  padding: 0.5rem;
}